body{
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(165,255,239,1) 100%);
    margin: 0;
    padding: 0;
}
button:disabled {
    opacity: 0.5; /* Make disabled buttons look faded */
    cursor: not-allowed; 
}

#gun, #water, #snake {
    height: 140px;
    width: 140px;
    padding: 15px;
    border: 5px solid rgb(0, 255, 157);
    border-radius: 50%;
    margin: 3px;
    margin-top: 40;
    background-size: cover;
    background-position: center;
    transition: transform 0.2s ease, border-color 0.2s ease; /* Smooth transition for scaling and border */
}

#gun {
    background-image: url(https://img.freepik.com/free-vector/gun-pistol-with-bullets-cartoon-vector-icon-illustration-holiday-object-icon-concept-isolated-flat_138676-5785.jpg);  
}

#water {
    background-image: url(https://i.pinimg.com/736x/9e/9f/13/9e9f13b9a85c2b54900475394db9d973.jpg); 
}

#snake {
    background-image: url(https://pics.craiyon.com/2024-09-12/zxDdn6hCQTu21FDnbq8c9A.webp); 
}

#water:active, #snake:active, #gun:active {
    transform: scale(0.95); 
    border-color: black;
}
#water:hover, #snake:hover, #gun:hover{
    box-shadow: 0 0 10px aqua; 
    border-color: black;
    border-width: 4px;
}



h1{
    text-align: center;
    text-decoration: underline;
    text-shadow: 2px 3px 4px rgb(0, 255, 157);
    padding-top: 20px;
    margin-top: 0px;
    height: 60px;

}
h2{
    text-align: center;
    text-shadow: 2px 3px 4px rgb(0, 255, 157);
    margin-top: 25px;
    font-weight: lighter;
}

.Design{
    display: flex;
    justify-content: space-evenly; /* Distribute buttons evenly */
    align-items: center;
    margin-top: 100px;

}

#Text{
    font-size: 20px;
    margin-top: 80px;
    text-align: center;
    text-shadow: 2px 3px 4px rgb(0, 255, 157);

}
#playAgainBtn {
    height: 80px;
    width: 150px;
    color: rgb(1, 2, 3);
    font-size: 15px;
    font-family: Arial, sans-serif; 
    padding: 15px;
    border: 5px solid rgb(0, 255, 157);
    margin: 3px;
    background-size: cover;
    background-position: center;
    transition: transform 0.2s ease, border-color 0.2s ease; 
    align-items: center;
    position: absolute; 
    top: 85%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    visibility: hidden;

}

#playAgainBtn:hover{
    border-color: lightseagreen;
    box-shadow: 0 0 10px lightseagreen;

}


#playAgainBtn:disabled {
    background-color: #d3d3d3; 
    color: #888; 
    cursor: not-allowed; 

}


